* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f3f4f6;
	font-family: Arial, Helvetica, sans-serif;
}

#root {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 30vw 60vw 10vw;
}

button:hover {
	cursor: pointer;
}
