.input-card {
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.input-card > h2 {
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0rem;
}